body{
        position: absolute;
        top: 80px;
        width: 100%;
        background-color: #333333;
        color: antiquewhite;
        font-family : "Roboto" ;
}    
a {
    color:antiquewhite
}
.sco{
    float: left;
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    text-align: center;
    font-family :fantasy ;
    background-color: #333333;
    width: 100%;
}
#photo{
    z-index: 10;
    position:fixed;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    height: 80px;
    width: auto;
}
.square {
    height: 5px;
    width: 100%;
    background-color: antiquewhite;
}
a:link{
    color:antiquewhite;
}
a:visited{
    color:antiquewhite;
}