@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
#maPhoto{
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    height: 60px;
    width: auto;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
header{
    position: fixed;
    top :0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 100%;
}
h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-right: 50px;
}

.sommaire{
  margin-top: 70px;
  margin-left: 0px;
  display: flex;
  justify-content: space-around;
  height: 35px;
  background-color:rgb(255, 255, 255);
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.cursus{
  color: #000000;
}
.planing{
  color: #000000;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: rgba(0, 0, 0, 0.562);
  }
  
  /* selected link */
  a:active {
    color: rgb(0, 0, 0);
  }

  @keyframes fadeInUp{
    0%{transform:translate(0px, 100px); opacity: 0;}
    100%{transform:translate(0px, 0); opacity: 1;}
  }
  
  .fadeInUp{animation:fadeInUp 2.5s ease backwards;}

.video{
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    border: solid black 3px;
    font-family: 'Roboto';
}
figcaption{
    padding-top: 20px;
}

@keyframes fadeInUp{
  0%{transform:translate(0px, 100px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}

.fadeInUp{animation:fadeInUp 1s ease backwards;}